

#main #content{
    #left {
	float: none;
	margin-right: 0;
	width: 960px;
    }

    #right{
	display:none;
    }
}

@media (max-width:979px){

    #main #content{
	#left {
	    float: none;
	    margin-right: 0;
	    width: 100%;
	}
    }
}